{% extends "logado.html" %}
{% block conteudo %}
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<style>
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        padding-left: 20%;
        padding-right: 20%;
        flex: auto;
        align-self: auto;
    }
</style>

<div class="flex-container">
    
    <div class="flex-item">
        <h5 class="flw-row gap-5" style="color:rgb(83, 83, 83)">Cadastro de Medidas</h5><br> 
        <form class="flex-column gap-2" action="{{url_for('cadastrar_medidas')}}" method="post">
            <div class="flex-row gap-2">

                <label style="width: 50%;" for="autoSizingInput">Nome singular:
                    <input type="text" class="form-control" name="medida_singular" id="autoSizingInput" placeholder="ex: Colher de Chá" required>
                </label>
                
                <label style="width: 50%;" for="autoSizingInput">Nome Plural:
                    <input type="text" class="form-control" name="medida_plural" id="autoSizingInput" placeholder="ex: Colheres de Chá" required>
                </label>

                

                
            </div>

            
            <div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>

        </form>

    </div>

</div>




{% endblock %}