{% extends "logado.html" %} 
{% block conteudo %}
{{ pagedown.html_head() }}

<style>
.form-group {
  margin: 10px 20px 10px 0;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.resize img {
  max-width: 200px;
  max-height: 300px;
}

.resize {
  clear: both;
  margin: 0 10px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  min-width: 200px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #949494 #f5f5f5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

@media (max-width: 500px)
{
  .busque-por-titulo {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .column {
    flex-direction: column !important;
  }

  .input-busca {
    width: 80% !important;
  }

  .div-button {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .form-group {
    width: 100% !important;
  }

  .btn-primary {
    width: 80% !important;
  }

  .navbar-brand {
    width: 80%;
    font-size: 14px;
  }
}
</style>
<form class="flex-column gap-2" action="/buscar_titulo" enctype="multipart/form-data" method="post" style="margin-top: 130px">

  <div style="
  display: flex;
  width: 92%;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 40px;
">
  <h4 class="busque-por-titulo" style="
    margin-bottom: 20px;
">Busque por titulo</h4>
  <div class="column" style="
  display: flex;
">
      <div class="input-busca" style="
  margin-right: 20px;
  width: 15%;
">

  <input type="search" name="titulo" required placeholder="Titulo" id="form1" class="form-control" style="
    border-radius: 25px;
">

</div>
<div style="width: 7%;" class="div-button">
  <button type="submit" class="btn btn-primary" style="width: 100%;border-radius: 25px;opacity: 0.85;color: #fff;background-color: #c42020;border-color: #c42020;">Buscar</button>
</div>
  </div>
  <div style="
  margin-top: 30px;
">
</form>

<form class="flex-column gap-2" action="/buscar_ingrediente" enctype="multipart/form-data" method="post">



      <h4 style="
    margin-bottom: 20px;
">Busque por ingredientes
  </h4>
  <div class="collapse column" id="formulario" style="display: flex; width: 80%; flex-wrap: wrap;">
    
    <div class="form-group" id="campo0" style="
  margin: 10px 20px 10px 0;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid black;
">
      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Quantidade:
        <input type="number" class="form-control" name="quantidade0" id="autoSizingInput" min="0.01" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" placeholder="0,00" required="">
      </label>

      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Unidade de medida:
        <select class="form-select" name="unidademedida0" id="autoSizingInput" required="">
          <option value="1">A gosto</option>
          <option value="2">Colher de sopa</option>
          <option value="3">Gramas</option>
          <option value="4">Kg</option>
          <option value="5">Litro(s)</option>
          <option value="6">Ml</option>
          <option value="7">Unidade</option>
          <option value="8">Xícara(s)</option>
          <option value="9">Outros</option>
        </select>
      </label>
      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Ingrediente:
        <input type="text" class="form-control" name="ingrediente0" id="autoSizingInput" placeholder="Ingrediente" required="">
      </label>

      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Adicionar
        <button class="btn btn-light" type="button" onclick="addcampo()" id="add-campo"> + </button>
      </label>

    </div>
  </div>
  

  <script>
    var cont = 1;
    function addcampo() {
      cont++;
      $('#formulario').append('<div class="form-group" id="campo' + cont + '">\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Quantidade:\
                    <input type="number" class="form-control" name="quantidade'+ cont + '" id="autoSizingInput" min="0.01" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" placeholder="0,00" required>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Unidade de medida:\
                <select class="form-select" name="unidademedida'+ cont + '" id="autoSizingInput" required>\
                    <option value="1">A gosto</option>\
                    <option value="2">Colher de sopa</option>\
                    <option value="3">Gramas</option>\
                    <option value="4">Kg</option>\
                    <option value="5">Litro(s)</option>\
                    <option value="6">Ml</option>\
                    <option value="7">Unidade</option>\
                    <option value="8">Xícara(s)</option>\
                    <option value="9">Outros</option>\
                </select>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Ingrediente:\
                    <input type="text" class="form-control" name="ingrediente'+ cont + '" id="autoSizingInput" placeholder="Ingrediente" required>\
                </label>\
                <div style="margin-top: 0px;">\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Adicionar\
                    <button class="btn btn-light" onclick="addcampo()" type="button" id="add-campo"'+ cont + '"> + </button>\
                  </label>\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Remover\
                    <button type="button" id="' + cont + '" class="btn-apagar btn btn-light"> - </button>\
                  </label>\
                </div>\
                </div>');

    };

    //https://api.jquery.com/click/

    $('form').on('click', '.btn-apagar', function () {
      var button_id = $(this).attr("id");
      $('#campo' + button_id + '').remove();
    });
  </script>

  <div>
    <button type="submit" class="btn btn-primary" style="
    width: 20%;
    height: 45px;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 0.85;
    color: #fff;
    background-color: #c42020;
    border-color: #c42020;
">Buscar</button>
  </div>



</div></div>
</form>



<div style="flex-direction:column;justify-content: flex-start;margin-top: 100px;border-radius: 25px;border: 1px solid black;margin: 100px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Mais recentes</strong></span>
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
  
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">
	  {% for receita in receitas_novas %}
    {% for caminho in paths | selectattr('id_receita', 'equalto', receita.id_receita) %}
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="{{ url_for('mostrar_receita',id_receita=receita.id_receita) }}" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/{{receita.id_receita}}/{{caminho.path_imagem}}" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">{{receita.titulo}}</h5>
        </div>  
      
    </div>
	  {% endfor %}
    {% endfor %}
  </div>
</div>
</div>


<div style="flex-direction:column; justify-content: flex-start;border-radius: 25px;border: 1px solid black;margin: 50px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Mais salvas</strong></span> 
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
        
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">
    {% for receita_salva in receitas_salvas %}
    {% for caminho in paths | selectattr('id_receita', 'equalto', receita_salva.id_receita) %}

    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="{{ url_for('mostrar_receita',id_receita=receita_salva.id_receita) }}" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/{{receita_salva.id_receita}}/{{caminho.path_imagem}}" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">{{receita_salva.titulo}}</h5>
      </div>
    </div>
    {% endfor %}
    {% endfor %} 

  </div>
</div>
</div>



<div style="flex-direction:column; justify-content: flex-start;border-radius: 25px;border: 1px solid black;margin: 50px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Melhores avaliadas</strong></span>
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
  
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">
    {% for receita in maiores_avaliacoes %}
    {% for caminho in paths | selectattr('id_receita', 'equalto', receita.id_receita) %}
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="{{ url_for('mostrar_receita',id_receita=receita.id_receita) }}" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/{{receita.id_receita}}/{{caminho.path_imagem}}" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">{{receita.titulo}}</h5>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
    

  </div>
</div>
</div>
 
</body>
{% endblock %}