<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> -->

  <!-- Style -->

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>My Recipe</title>
  <style>
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
    }

    .flex-row {
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        padding-left: 30%;
        padding-right: 30%;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        padding-left: 20%;
        padding-right: 20%;
        flex: auto;
        align-self: auto;
    }
</style>
</head>


<body style="background-color:#f2f2f2; height: max-content; width:auto;">
    <nav class="navbar navbar-expand-lg navbar-dark"; style="background-color: #c42020;min-width: max-content;width: 100%;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='images/myrecipelogobranca.png') }}" alt="" width="80" height="80" class="d-inline-block align-text-left">
          My Recipe - Receitas Inteligentes
        </a>
        
          <form class="d-flex gap-2">
            <a class="btn btn-light" style="background-color:#c42020; color: beige;" href="{{ url_for('login') }}" role="button">Login</a>
            <a class="btn btn-light" style="background-color:#c42020; color: beige;" href="{{ url_for('cadastrar_usuario') }}" role="button">Cadastrar</a>
          </form>
        </div>
      </div>
    </nav>

  <div class="flex flex-column" style="align-items:center; margin-top:50px; padding-left: 20%; padding-right: 20%">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/images/livro.jpg" class="d-block w-auto" alt="...">
          <div class="carousel-caption d-block w-auto">
            <h3>Deixe de lado aquele velho caderno</h3>
            <p style="color:white">Com o My Recipe, você cadastra suas receitas em poucos minutos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/images/ingredientes.jpg" class="d-block w-auto" alt="...">
          <div class="carousel-caption d-block w-auto">
            <h3>Descubra novas receitas</h3>
            <p style="color:white">Encontre receitas por ingredientes e sistema de recomendação.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/images/truques-chefes-de-cozinha.jpg" class="d-block w-auto" alt="...">
          <div class="carousel-caption d-block w-auto">
            <h3>Mão na massa</h3>
            <p style="color:white">Salve, avalie e prepare receitas especiais.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
 
    
<div class="flex flex-column" style="margin-top:20px;text-align: center;align-items:center">
    <span style="font-size:40px; color:#c42020"><strong>My Recipe em números</strong></span>
</div>

<div class="flex flex-row gap-4" style="margin-top:0px;align-items:center">  
  <div class="flex flex-column" style="margin-top:30px;align-items:center">
    <span style="font-size:60px ;"><strong>{{cont_usuarios}}</strong></span>
    <span>Usuários</span>
  </div>
  <div class="flex flex-column" style="margin-top:30px;align-items:center">
    <span style="font-size:60px ;"><strong>{{cont_receitas}}</strong></span>
    <span>Receitas</span>
  </div>
  <div class="flex flex-column" style="margin-top:30px;align-items:center">
    <span style="font-size:60px ;"><strong>{{cont_avaliacoes}}</strong></span>
    <span>Avaliações</span>
  </div>  
</div>



    {% block conteudo %}
    
    {% endblock %}

  
     
    <footer style="position: auto;bottom: -1px;;left:30%;right:30% ;">
      <div class="flex flex-column" style="margin-top:50px;text-align: center; align-items:center; align-self: flex-end;">
        <p>Avalie o sistema em: <a href="https://forms.gle/ghj7DFk2Z5VSKf638" target="_blank">https://forms.gle/ghj7DFk2Z5VSKf638</a></p>
      </div>  
      <p class="text-center text-muted">© 2022 My Recipe - Receitas Inteligentes</p>
    </footer> 
</body>

  




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>


</html>