<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!-- Style -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<style>
  @media (max-width: 500px)
{
  .busque-por-titulo {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .column {
    flex-direction: column !important;
  }

  .input-busca {
    width: 80% !important;
  }

  .div-button {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .form-group {
    width: 100% !important;
  }

  .btn-primary {
    width: 80% !important;
  }

  .navbar-brand {
    width: 80%;
    font-size: 14px;
  }
}
</style>

    <title>My Recipe</title>
  </head>
  
  <body style="background-color:#fff; height: max-content;width: auto;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark"; style="background-color: #c42020;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='images/myrecipelogobranca.png') }}" alt="" width="80" height="80" class="d-inline-block align-text-left">
          My Recipe - Receitas Inteligentes
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-1 navbar-nav-scroll">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('homepage') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('mostrar_salvas') }}">Receitas salvas</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cadastros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('cadastrar_receita') }}">Receitas</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown" style="width: 180px">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Meu usuário
                </a>
                <ul class="dropdown-menu"  aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" href="#">Olá, {{ current_user.nome }}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('preferencias') }}">Preferencias</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('minhas_receitas') }}">Minhas Receitas</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('editar_perfil') }}">Editar Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a></li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </nav>
  <div>
    
  </div>
 
  <div>

    {% block conteudo %}
    
    {% endblock %}

  </div>
  
</body>
<footer style="position: auto;bottom: -1px;left:30%;right:30%; align-self: flex-end;">
  <div class="flex flex-column" style="margin-top:50px;text-align: center; align-items:center; align-self: flex-end;">
    <p>Precisa de ajuda? <a href="mailto:suporte.myrecipe@gmail.com" target="_blank">suporte.myrecipe@gmail.com</a></p>
  </div>  
  <p class="text-center text-muted">© 2022 My Recipe - Receitas Inteligentes</p>
</footer> 
 

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/wz_tooltip.js')}}"></script>
  </body>
</html>