{% extends "logado.html" %}
{% block conteudo %}
{{ pagedown.html_head() }}
<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .card {
    display: inline-block;
  }

  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  .resize img {
    max-width: 250px;
    max-height: 120px;
    width: auto;
    height: auto;
    vertical-align: top;
  }

  .resize {
    clear: both;

  }
</style>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul id="messages" class="list-unstyled">
    {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}



  {% for receita in receitas %}
  {% for caminho in paths %}
  {% if receita.id_receita == caminho.id_receita %}
  <div class="flex-container">
  <div class="flex-item gap-2" style="padding: 10px; background-color:rgb(255, 255, 255)">
  <div class="flex-row gap-2">
    <div class="card gap-2" style="padding: 10px; width: 15rem">
      <a href="{{ url_for('mostrar_receita',id_receita=receita.id_receita) }}">
      <img class="card-img-top"
        src="http://127.0.0.1:5000/static/uploads/recipes/{{receita.id_receita}}_{{receita.titulo.replace(' ','')}}/{{caminho.path_imagem}}"
        alt="Card image cap">
      </a>
      <div class="card-body">
        <h5 class="card-text row">{{receita.titulo}}</h5>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>
</div>



<div class="flex-container">
  <div class="flex-item gap-2">
    <a class="btn btn-info" href="#" role="button">Compartilhar</a>
    <a class="btn btn btn-secondary" href="{{url_for('editar_receita',id_receita=receita.id_receita)}}" role="button">Editar</a>
    <a class="btn btn btn-danger" href="{{url_for('deletar_receita',id_receita=receita.id_receita)}}" role="button">Deletar</a>  
  </div>
</div>
{% endfor %}











{% endblock %}