{% extends "logado.html" %}
{% block conteudo %}
{{ pagedown.html_head() }}
<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .card {
    display: inline-block;
  }

  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  .resize img {
    max-width: 250px;
    max-height: 120px;
    width: auto;
    height: auto;
    vertical-align: top;
  }

  .resize {
    clear: both;

  }
</style>



<div class="flex-container">
  <div class="flex-item gap-2" style="padding: 10px; background-color:rgb(255, 255, 255)">
    <div class="flex-row gap-2">
      {% for caminho in paths | selectattr('id_receita', 'equalto', receita.id_receita) %}      
      <div class="card gap-2" style="padding: 10px; width: 15rem">
        <img class="card-img-top"
          src="https://my-recipe-receitas.com/static/uploads/recipes/{{receita.id_receita}}/{{caminho.path_imagem}}"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-text row">{{receita.titulo}}</h5>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item gap-2">
    
  
    <div class="flex-row gap-2" style="content:center">
      
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">Medida</th>
            <th scope="col">Ingrediente</th>
          </tr>
        </thead>
          <tbody>
            
            <div class="flex-row gap-2">
              
              {%if receita.vegetariana or receita.vegana or receita.gluten or receita.lactose or receita.saudavel%}
              <span><strong>Características:</strong></span>
              {% if receita.vegetariana == True%}
              <p>Vegetariana<br></p>
              {%endif%}
              {% if receita.vegana == True%}
              <p>Vegana<br></p>
              {%endif%}
              {% if receita.gluten == True%}
              <p>Sem glúten<br></p>
              {%endif%}
              {% if receita.lactose == True%}
              <p>Sem lactose<br></p>
              {%endif%}
              {% if receita.saudavel == True%}
              <p strong>Saudável<br></p>
              {%endif%}
              
              {%endif%}
            </div>

            {% for ingrediente in ingredientes %}
              
              <tr>  
                <td>{{ingrediente.qtde_ingrediente}}</td>            
                  {% for medida in medidas%} 
                    {% if ingrediente.id_medida == medida.id_medida%}
                
                      {% if ingrediente.qtde_ingrediente>1%}             
                        <td>{{medida.medida_plural}}</td>
                      {% else %}
                      <td>{{medida.medida_singular}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                <td>{{ingrediente.ingrediente}}</td>
              
            </tr>
            {% endfor %}
           
        
          </tbody>
      </table>

      
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-item gap-2">
    <h6>Modo de preparo</h6>
    <hr>
    <div class="flex-row gap-2" style="content:center;margin-bottom: 40px;">
      {{receita.instrucoes | safe}}
      Esta receita serve <strong>{{receita.porcoes}}</strong> pessoas e leva aproximadamente <strong>{{receita.tempo_preparo}}</strong> minutos de preparo.<br>
    </div>
  </div>
</div>


<div class="flex-container">
  <div class="flex-item gap-2">
    <a class="btn btn-success" href="{{ url_for('salvar_receita',id_receita=receita.id_receita) }}" role="button">Salvar</a>
    <a class="btn btn-info" href="#" onClick="copiarTexto()"" role="button">Compartilhar</a>
    <a class="btn btn btn-danger" href="{{url_for('editar_receita',id_receita=receita.id_receita)}}" role="button">Editar</a>
  </div>
</div>


<h6>Receitas parecidas:</h6>
<hr>
<div class="flex-container gap-2" style="padding: 50px; background-color:rgb(255, 255, 255)">
<div class="scrolling-wrapper" style="padding:10px; text-align:center">
  
    {% for key,value in recomendacoes.iterrows() %}
    {% for caminho in paths | selectattr('id_receita', 'equalto', value['id_receita']) %}
       
    <div class="resize img card gap-2 flex-item" style=" padding: 10px; min-width: 250px;max-width: max-content;height: 250px;">
      <a href="{{ url_for('mostrar_receita',id_receita=value['id_receita']) }}">
        <img src="https://my-recipe-receitas.com/static/uploads/recipes/{{value['id_receita']}}/{{caminho.path_imagem}}"
        alt="Card">
      </a>
        <div class="card-body">
          <h5 class="card-title">{{value['titulo']}}</h5>
          <p class="card-text"> 
            {{ '%0.2f' |format(value['percentual_total'] * 100 | float)}}% relevante
          </p>
        </div> 
    </div>
    
    {%endfor%}
    {%endfor%}
  </div>
</div>

<script>
  function copiarTexto() {
    var textoCopiado = "teste2";
    textoCopiado.select();
    document.execCommand("Copy");
    alert("Texto Copiado: " + textoCopiado.value);
  }
</script>




{% endblock %}