{% extends "logado.html" %}
{% block conteudo %}
{{ pagedown.html_head() }}
<style>
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: flex-start;
  }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
       
    }


  .resize img {
    max-width: 250px;
    max-height: 120px;
    min-height: 120px;
    width: auto;
    height: auto;
    vertical-align: top;
  } 


  .form-group {
  margin: 10px 20px 10px 0;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}


.resize {
  clear: both;
  margin: 0 10px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  min-width: 200px;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}


.resize img {
  max-width: 200px;
  max-height: 300px;
}

.resize {
  clear: both;
  margin: 0 10px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  min-width: 200px;
}

</style>



<div class="flex-container" style="margin-top:130px ;">
  
    <div class="flex-row gap-2" style="padding: 10px; background-color:rgb(255, 255, 255)">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="messages" class="list-unstyled">
      {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% for caminho in paths | selectattr('id_receita', 'equalto', receita.id_receita) %}      
      <div class="card gap-2" style="max-width: 20rem; min-width: 15rem; width: auto;">
        <img class="card-img-top"
          src="https://my-recipe-receitas.com/static/uploads/recipes/{{receita.id_receita}}/{{caminho.path_imagem}}"
          alt="Card image cap">
        <div class="card-body" style="text-align:center;align-items: center;">
          <h4 class="card-text row">{{receita.titulo}}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  
</div>

<div class="flex-container">
  <div class="flex-item gap-2">
    
  
    <div class="flex-row gap-2" style="content:center">
      
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">Medida</th>
            <th scope="col">Ingrediente</th>
          </tr>
        </thead>
          <tbody>
            
            <div class="flex-row gap-2">
              
              {%if receita.vegetariana or receita.vegana or receita.gluten or receita.lactose or receita.saudavel%}
              <span><strong>Características:</strong></span>
              {% if receita.vegetariana == True%}
              <p>Vegetariana<br></p>
              {%endif%}
              {% if receita.vegana == True%}
              <p>Vegana<br></p>
              {%endif%}
              {% if receita.gluten == True%}
              <p>Sem glúten<br></p>
              {%endif%}
              {% if receita.lactose == True%}
              <p>Sem lactose<br></p>
              {%endif%}
              {% if receita.saudavel == True%}
              <p strong>Saudável<br></p>
              {%endif%}
              
              {%endif%}
            </div>

            {% for ingrediente in ingredientes %}
              
              <tr>  
                <td>{{ingrediente.qtde_ingrediente}}</td>            
                  {% for medida in medidas%} 
                    {% if ingrediente.id_medida == medida.id_medida%}
                
                      {% if ingrediente.qtde_ingrediente>1%}             
                        <td>{{medida.medida_plural}}</td>
                      {% else %}
                      <td>{{medida.medida_singular}}</td>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                <td>{{ingrediente.ingrediente}}</td>
              
            </tr>
            {% endfor %}
           
        
          </tbody>
      </table>

      
    </div>
  </div>
</div>

<div class="flex-container">
  <div class="flex-column gap-2" style="padding-left:20%;padding-right:20%">
    <h6>Modo de preparo</h6>
    <hr>
    <div class="flex-row gap-2" style="content:center;margin-bottom: 40px;">
      {{receita.instrucoes | safe}}<br>
      Esta receita serve {{'%0.0f' |format(receita.porcoes)}} pessoas e leva aproximadamente {{receita.tempo_preparo}} minutos de preparo.<br>
    </div>
  </div>
</div>

<div class="flex-column" style="align-items:center">
  <div class="flex flex-row">
    <a class="btn btn-success" href="{{ url_for('salvar_receita',id_receita=receita.id_receita) }}" role="button">Salvar</a>
    <a class="btn btn-info" style="color: white;" onclick="copiarTexto('{{receita.id_receita}}')" role="button">Compartilhar</a>
    <a class="btn btn btn-danger" href="{{url_for('editar_receita',id_receita=receita.id_receita)}}" role="button">Criar variação</a>
    <script>
      function copiarTexto(id) {
          texto = 'Vi essa receita e lembrei de você!\nAcesse: https://my-recipe-receitas.com/receita_sl/'+id
          navigator.clipboard.writeText(texto)
          document.execCommand('copy',texto)
          alert("Envie o link para seus amigos!\nTexto copiado: " + texto);
      }
    </script>
  </div>
</div>





<h5 style="text-align: center;margin-top:20px">Receitas parecidas:</h5>
<hr>
<div class="flex-container gap-2" style="text-align:center; background-color:rgb(255, 255, 255)">
  {% for key,value in recomendacoes.iterrows() %}
  {% for caminho in paths | selectattr('id_receita', 'equalto', value['id_receita']) %}
       
    <div class="resize img card gap-2 flex-item" style="min-width:250px; padding:10px; max-width: max-content;height: 250px;">
      <a href="{{ url_for('mostrar_receita',id_receita=value['id_receita']) }}">
        <img src="https://my-recipe-receitas.com/static/uploads/recipes/{{value['id_receita']}}/{{caminho.path_imagem}}"
        alt="Card">
      </a>
        <div class="card-body" style="padding:0">
          <h6 class="card-title">{{value['titulo']}}</h6>
          <p class="card-text"> 
            {{ '%0.2f' |format(value['percentual_total'] * 100 | float)}}% relevante
          </p>
        </div> 
    </div>
    
    {%endfor%}
    {%endfor%}
  
</div>






{% endblock %}