<body style="background-color:#fff; height: max-content;width: auto;"><div id="WzTtDiV" style="visibility: hidden; position: absolute; overflow: hidden; padding: 0px; width: 0px; left: 0px; top: 0px;"></div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" ;="" style="background-color: #c42020;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/images/myrecipelogobranca.png" alt="" width="80" height="80" class="d-inline-block align-text-left">
        My Recipe - Receitas Inteligentes
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-1 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/mostrar_salvas">Receitas salvas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cadastros
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/cadastrar_receita">Receitas</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown" style="width: 180px">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Meu usuário
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Olá, Carlos Kasper</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/preferencias">Preferencias</a></li>
                <li><a class="dropdown-item" href="/minhas_receitas">Minhas Receitas</a></li>
                <li><a class="dropdown-item" href="/editar_perfil">Editar Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Sair</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
<div>
  <br><br><br><br><br><br>
</div>

<div>

  

<style>
.form-group {
  margin: 10px 20px 10px 0;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.resize img {
  max-width: 200px;
  max-height: 300px;
}

.resize {
  clear: both;
  margin: 0 10px;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  min-width: 200px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #949494 #f5f5f5;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

@media (max-width: 500px)
{
  .busque-por-titulo {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .column {
    flex-direction: column !important;
  }

  .input-busca {
    width: 80% !important;
  }

  .div-button {
    width: 100% !important;
    margin-top: 20px !important;
  }

  .form-group {
    width: 100% !important;
  }

  .btn-primary {
    width: 80% !important;
  }

  .navbar-brand {
    width: 80%;
    font-size: 14px;
  }
}
</style>
<form class="flex-column gap-2" action="/buscar_titulo" enctype="multipart/form-data" method="post">
<div style="margin-left: 20px;">
  
</div>
  <div style="
  display: flex;
  width: 92%;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 40px;
">
  <h4 class="busque-por-titulo" style="
    margin-bottom: 20px;
">Busque por titulo</h4>
  <div class="column" style="
  display: flex;
">
      <div class="input-busca" style="
  margin-right: 20px;
  width: 15%;
">

  <input type="search" name="titulo" placeholder="Titulo" id="form1" class="form-control" style="
    border-radius: 25px;
">

</div>
<div style="width: 7%;" class="div-button">
  <button type="submit" class="btn btn-primary" style="width: 100%;border-radius: 25px;opacity: 0.85;color: #fff;background-color: #c42020;border-color: #c42020;">Buscar</button>
</div>
  </div>
  <div style="
  margin-top: 30px;
">

      <h4 style="
    margin-bottom: 20px;
">Busque por ingredientes
  </h4>
  <div class="collapse column" id="formulario" style="display: flex; width: 80%; flex-wrap: wrap;">
    
    <div class="form-group" id="campo0" style="
  margin: 10px 20px 10px 0;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  border: 1px solid black;
">
      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Quantidade:
        <input type="number" class="form-control" name="quantidade0" id="autoSizingInput" min="0.01" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" placeholder="0,00" required="">
      </label>

      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Unidade de medida:
        <select class="form-select" name="unidademedida0" id="autoSizingInput" required="">
          <option value="1">A gosto</option>
          <option value="2">Colher de sopa</option>
          <option value="3">Gramas</option>
          <option value="4">Kg</option>
          <option value="5">Litro(s)</option>
          <option value="6">Ml</option>
          <option value="7">Unidade</option>
          <option value="8">Xícara(s)</option>
          <option value="9">Outros</option>
        </select>
      </label>
      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Ingrediente:
        <input type="text" class="form-control" name="ingrediente0" id="autoSizingInput" placeholder="Ingrediente" required="">
      </label>

      <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Adicionar
        <button class="btn btn-light" type="button" onclick="addcampo()" id="add-campo"> + </button>
      </label>

    </div>
  </div>
  

  <script>
    var cont = 1;
    function addcampo() {
      cont++;
      $('#formulario').append('<div class="form-group" id="campo' + cont + '">\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Quantidade:\
                    <input type="number" class="form-control" name="quantidade'+ cont + '" id="autoSizingInput" min="0.01" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" placeholder="0,00" required>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Unidade de medida:\
                <select class="form-select" name="unidademedida'+ cont + '" id="autoSizingInput" required>\
                    <option value="1">A gosto</option>\
                    <option value="2">Colher de sopa</option>\
                    <option value="3">Gramas</option>\
                    <option value="4">Kg</option>\
                    <option value="5">Litro(s)</option>\
                    <option value="6">Ml</option>\
                    <option value="7">Unidade</option>\
                    <option value="8">Xícara(s)</option>\
                    <option value="9">Outros</option>\
                </select>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Ingrediente:\
                    <input type="text" class="form-control" name="ingrediente'+ cont + '" id="autoSizingInput" placeholder="Ingrediente" required>\
                </label>\
                <div style="margin-top: 45px;">\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Adicionar\
                    <button class="btn btn-light btn-add" type="button" id="add-campo"'+ cont + '"> + </button>\
                  </label>\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Remover\
                    <button type="button" id="' + cont + '" class="btn-apagar btn btn-light"> - </button>\
                  </label>\
                </div>\
                </div>');

    };

    //https://api.jquery.com/click/

    $('form').on('click', '.btn-apagar', function () {
      var button_id = $(this).attr("id");
      $('#campo' + button_id + '').remove();
    });
    $('form').on('click', '.btn-add', function () {
      cont++;
      var button_id = $(this).attr("id");
      $('#formulario').append('<div class="form-group" id="campo' + cont + '">\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Quantidade:\
                    <input type="number" class="form-control" name="quantidade'+ cont + '" id="autoSizingInput" min="0.01" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" placeholder="0,00" required>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Unidade de medida:\
                <select class="form-select" name="unidademedida'+ cont + '" id="autoSizingInput" required>\
                    <option value="1">A gosto</option>\
                    <option value="2">Colher de sopa</option>\
                    <option value="3">Gramas</option>\
                    <option value="4">Kg</option>\
                    <option value="5">Litro(s)</option>\
                    <option value="6">Ml</option>\
                    <option value="7">Unidade</option>\
                    <option value="8">Xícara(s)</option>\
                    <option value="9">Outros</option>\
                </select>\
                </label>\
                <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Ingrediente:\
                    <input type="text" class="form-control" name="ingrediente'+ cont + '" id="autoSizingInput" placeholder="Ingrediente" required>\
                </label>\
                <div style="margin-top: 45px;">\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Adicionar\
                    <button class="btn btn-light btn-add" type="button" id="add-campo"'+ cont + '"> + </button>\
                  </label>\
                  <label style="width: auto;margin: 10px 0;" for="autoSizingInput">Remover\
                    <button type="button" id="' + cont + '" class="btn-apagar btn btn-light"> - </button>\
                  </label>\
                </div>\
               </div>');
    });
  </script>

  <div>
    <button type="submit" class="btn btn-primary" style="
    width: 20%;
    height: 45px;
    margin-top: 20px;
    border-radius: 25px;
    opacity: 0.85;
    color: #fff;
    background-color: #c42020;
    border-color: #c42020;
">Buscar</button>
  </div>



</div></div>
</form>



<div style="flex-direction:column;justify-content: flex-start;margin-top: 100px;border-radius: 25px;border: 1px solid black;margin: 100px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Mais recentes</strong></span>
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
  
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/141" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/141/doce-ambrosia-autentico-barato-minas-pote-em-vidro-original-pote-em-vidro-1024x985.jpg" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Ambrosia Receita</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/140" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/140/Beirute.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Beirute</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/139" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/139/Bauru.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Bauru: Sanduíche de rosbife, queijo, tomate e picles</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/138" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/138/Queijo quente perfeito.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Queijo quente perfeito !</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/137" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/137/Croque monsieur.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Croque monsieur, sanduíche francês de queijo e presunto </h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/132" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/132/arroz_a_grega_tradicional_1255_orig.jpg" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Receita de Arroz à grega tradicional</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/126" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/126/tartar.jpg" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Steak Tartare</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/125" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/125/hqdefault.jpg" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Pizza de ovo</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/124" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/124/download (14).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Brigadeiro</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/123" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/123/download (13).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Macarrão ao molho branco</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/122" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/122/download (12).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Macarrão bolonhesa</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/121" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/121/download (11).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Macarrão à carbonara</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/119" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/119/pina colada.jpeg" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Piña Colada</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/118" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/118/imagem_2022-11-06_122428542.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Panqueca americana</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/117" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/117/imagem_2022-11-06_115430293.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Pão de queijo</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/116" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/116/imagem_2022-11-06_112242375.png" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Sorvete de Flocos</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/114" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/114/download (9).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Bife na manteiga</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/113" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/113/download (8).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Pé de moleque</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      
        <a href="/mostrar_receita/110" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/110/download (3).jfif" alt="Card">
        
        <hr style="color:rgb(254, 244, 227)">
      
        <div>
        <h5 style="white-space: break-spaces;">Sagu de vinho</h5>
        </div>  
      
    </div>

    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
        <a href="/mostrar_receita/109" style="position: absolute;top:0;left: 0;z-index: 1;height: 300px;width: 200px;">
        </a>
        <img class="card-img-top" src="static/uploads/recipes/109/download (4).jfif" alt="Card">
        <hr style="color:rgb(254, 244, 227)">
        <div>
        <h5 style="white-space: break-spaces;">Strogonoff de carne</h5>
        </div> 
    </div>

    
    

  </div>
</div>
</div>


<div style="flex-direction:column; justify-content: flex-start;border-radius: 25px;border: 1px solid black;margin: 50px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Mais salvas</strong></span> 
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
        
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">


    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/106" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/106/download (7).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de ló </h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/105" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/105/arrozdoce.jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Arroz Doce</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/107" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/107/download (6).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de forma</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/109" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/109/download (4).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Strogonoff de carne</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/110" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/110/download (3).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Sagu de vinho</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/113" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/113/download (8).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pé de moleque</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/124" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/124/download (14).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Brigadeiro</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/140" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/140/Beirute.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Beirute</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/139" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/139/Bauru.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bauru: Sanduíche de rosbife, queijo, tomate e picles</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/138" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/138/Queijo quente perfeito.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Queijo quente perfeito !</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/137" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/137/Croque monsieur.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Croque monsieur, sanduíche francês de queijo e presunto </h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/132" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/132/arroz_a_grega_tradicional_1255_orig.jpg" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Receita de Arroz à grega tradicional</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/125" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/125/hqdefault.jpg" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pizza de ovo</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/123" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/123/download (13).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Macarrão ao molho branco</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/119" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/119/pina colada.jpeg" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Piña Colada</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/117" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/117/imagem_2022-11-06_115430293.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de queijo</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/114" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/114/download (9).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bife na manteiga</h5>
      </div>
    </div>
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/108" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/108/download (5).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bolo de cenoura</h5>
      </div>
    </div>
    
    


  </div>
</div>
</div>



<div style="flex-direction:column; justify-content: flex-start;border-radius: 25px;border: 1px solid black;margin: 50px 40px 0;padding: 30px;">
<span style="padding-left:20px"><strong>Melhores avaliadas</strong></span>
<div class="flex-container gap-2" style=" background-color:rgb(255, 255, 255)">
  
  <div class="scrolling-wrapper" style="padding:10px; text-align:center; display: flex;">
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/106" style="position: absolute; top:0;left: 0;z-index: 1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/106/download (7).jfif" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de ló </h5>
      </div>
    </div>
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/119" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/119/pina colada.jpeg" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Piña Colada</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/140" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/140/Beirute.png" class="card-img-top" alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Beirute</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/139">
      </a style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      <img src="static/uploads/recipes/139/Bauru.png" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bauru: Sanduíche de rosbife, queijo, tomate e picles</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/138" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/138/Queijo quente perfeito.png" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Queijo quente perfeito !</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/137" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/137/Croque monsieur.png" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Croque monsieur, sanduíche francês de queijo e presunto </h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/124" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/124/download (14).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Brigadeiro</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/123" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/123/download (13).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Macarrão ao molho branco</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/125">
      </a style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      <img src="static/uploads/recipes/125/hqdefault.jpg" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pizza de ovo</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/108" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/108/download (5).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bolo de cenoura</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/109" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/109/download (4).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Strogonoff de carne</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/117" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/117/imagem_2022-11-06_115430293.png" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de queijo</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/114" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/114/download (9).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Bife na manteiga</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/113" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
       </a>
      <img src="static/uploads/recipes/113/download (8).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pé de moleque</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/107" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;"></a>
      <img src="static/uploads/recipes/107/download (6).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de forma</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/106" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;"> </a>
      <img src="static/uploads/recipes/106/download (7).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Pão de ló </h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/105" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;"></a>
      <img src="static/uploads/recipes/105/arrozdoce.jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Arroz Doce</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/110" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;"> </a>
      <img src="static/uploads/recipes/110/download (3).jfif" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Sagu de vinho</h5>
      </div>
    </div>

    
    
    
    
    
    <div class="resize card" style="height: 300px;width: 200px;border: 1px solid black;">
      <a href="/mostrar_receita/132" style="position: absolute; top:0;left: 0; z-index:1; height: 300px; width: 200px;">
      </a>
      <img src="static/uploads/recipes/132/arroz_a_grega_tradicional_1255_orig.jpg" class="card-img-top"  alt="Card">
      <hr style="color:rgb(254, 244, 227)">
      <div>
        <h5 style="white-space: break-spaces;">Receita de Arroz à grega tradicional</h5>
      </div>
    </div>

    
    
    

  </div>
</div>
</div>





</div>


<footer style="position: auto;bottom: -1px;left:30%;right:30%; align-self: flex-end;">
<div class="flex flex-column" style="margin-top:50px;text-align: center; align-items:center; align-self: flex-end;">
  <p>Precisa de ajuda? <a href="mailto:suporte.myrecipe@gmail.com" target="_blank">suporte.myrecipe@gmail.com</a></p>
</div>  
<p class="text-center text-muted">© 2022 My Recipe - Receitas Inteligentes</p>
</footer> 


  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.sticky.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/wz_tooltip.js"></script>



  
  </body>